@import "~leaflet.markercluster/dist/MarkerCluster.css"
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css"
@import '~@/styles/variables'

.mapa
  width: 100%
  height: 100vmin
  height: 100vh
  position: relative

.vue2leaflet-map
  & >>> .control-link
    display: inline-block
    .asu-title
      background-color: rgba(255, 255, 255, .8)

.controls
  margin: $f20px $f10px 0 0;
  position: relative
  z-index: 900
  display: flex
