@import '~@/styles/variables'

/* Estilos sin scope para los estilos del mapa */
.isMobile .leaflet-sidebar
  height: 100vh !important

.leaflet-sidebar
  top: $header-height
  padding: 0
  .isDesktop &
    height: "calc(100% - %s - %s)" % ($header-height $footer-height)
  & > .leaflet-control
    padding: 0
    &.asu-controls-sidebar
      padding: $f7px $f10px
      position: relative
  &.visible
    @media screen and (min-width: 768px)
      width: 30vmax
      width: 30vw
  @media screen and (min-width: 767px)
    .leaflet-touch & > .leaflet-control
      border-width: 0
  @media screen and (min-width: 768px)
    min-width: 500px
  @media screen and (min-height: 750px)
    height: "calc(100% - %s - %s)" % ($header-height $footer-max-height)
  &.left.visible
    left: 72px
    z-index: 401
    @media print
      display: none
  &.right
    .leaflet-touch & > .leaflet-control
      border: 0px
      border-left-width: 2px
      border-left-style: solid
      border-bottom-width: 2px
      border-bottom-style: solid

.leaflet-control-attribution.leaflet-control
  position: static

.leaflet-control-container
  .leaflet-bottom.leaflet-right
    bottom: $f70px
    z-index: 998
  @media screen and (min-width: 4000px)
    .leaflet-control-layers,
    .leaflet-control-zoom
      a, a.control-layers-toggle
        padding-top: .6rem
        font-size: 1.5rem
        height: 1.4rem
        width: 2rem

.leaflet-control-container .leaflet-control-zoom.leaflet-bar,
.leaflet-control-layers.leaflet-control
  border-width: 0px
  a
    border: $f1px solid #aaa
    border-radius: 50%
    color: $buttom-info-color
    &:first-child
      margin-bottom: $f5px
      border-top-left-radius: 50%
      border-top-right-radius: 50%
    &:last-child
      border-bottom-left-radius: 50%
      border-bottom-right-radius: 50%

.leaflet-control-layers.leaflet-control
  background-color: transparent
  .leaflet-control-layers-list,
  .leaflet-control-layers-toggle
    background-color: white
  .leaflet-control-layers-toggle
    width: 2rem
    height: 2rem

.leaflet-touch
  .leaflet-control-layers.leaflet-control
    border: 0
    .leaflet-control-layers-list
      padding: 5px
      margin-left: -5px
      font-size: $f16px
      color: $color_0

.map-label
  color: #000000
  padding: $f5px
  font-size: 1rem
  text-shadow: $f1px $f1px $f5px #fff, -1px -1px $f5px #fff
  font-weight: bolder
  text-align: center
