@import '~@/styles/variables'
@import '~@/styles/refugios/variables'

.makerBlueIcon
  .ap-pin
    color: $censadoColor
    font-size: 45px
    position: relative
    .sub-icon
      color: white
      font-size: 15px
      position: absolute
      top: 8px
      left: 14px
    .ap-Centro-municipal
      font-size: 17px
  &.active
    .ap-pin
      font-size: 75px
      .sub-icon
        font-size: 28px
        top: 13px
        left: 22px
  &.refugio-no-censado .ap-pin
    color: $noCensadoColor
  &.refugio-no-habitable .ap-pin
    color: $noHabitableColor