<template lang="pug">
.acceso-agua(v-if="hasData")
  .asu-title Enfermedades recientes
  CaracteristicasFisicasEstadistica(:data="chartData", :options="{ pieHole: 0 }")
</template>

<script>
import { mapGetters } from 'vuex'
import { hasData, getData } from '@/utils/object.js'

export default {
  components: {
    CaracteristicasFisicasEstadistica: _ => import('./CaracteristicasFisicasEstadistica')
  },
  computed: {
    ...mapGetters([ 'censo' ]),
    data () {
      return getData(this.censo).enfermedadCronica
    },
    chartData () {
      if (this.hasData) {
        return [
          [ '', '' ],
          [ 'Hipertension', this.data.hipertension ],
          [ 'Diabetes', this.data.diabetes ],
          [ 'Asma', this.data.asma ],
          [ 'Insuficiencia cardiaca', this.data.insuficienciaCardiaca ],
          [ 'Alergia', this.data.alergia ]
        ]
      } else {
        return [
          [ '', '' ],
          [ 'Hipertension', 0 ],
          [ 'Diabetes', 0 ],
          [ 'Asma', 0 ],
          [ 'Insuficiencia cardiaca', 0 ],
          [ 'Alergia', 0 ]
        ]
      }
    },
    hasData () {
      return hasData(this.data)
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~@/styles/refugios/statistic'

$top = calc(50% - 37px)
$left = calc(50% - 26px)

.acceso-agua >>>
  .refugio-estadisticas
    .center-icon
      top: $top
      left: $left
</style>
