<template lang="pug">
div
  span Año del censo:&nbsp;&nbsp;
  .year-selector-panel
    template(v-for="item in years")
      md-radio(:value="item" v-model="year" @change="setRefugiosYear"  :key="`year-${item}`")
        span
          | {{ item }}
          span.referencia *
          md-tooltip.md-elevation-5(v-html="referencias[item]")
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { refugioDefaultYear } from '@/constants.js'

const range = (start, end) => {
  let ans = []
  for (let i = start; i <= end; i++) {
    ans.push(i)
  }
  return ans
}

export default {
  mounted () {
    this.setModelYear()
    const years = range(2014, refugioDefaultYear)
    years.forEach(year => this.getFuenteByYear(year))
    this.years = years
  },
  data: () => ({
    year: refugioDefaultYear,
    years: [],
    referencias: {}
  }),
  methods: {
    ...mapActions(['setRefugiosYear']),
    setModelYear () {
      if (this.refugiosYear) this.year = this.refugiosYear
    },
    getFuenteByYear (year) {
      this.getFuenteRefugioCensoByYear(year).then(fuente => {
        this.referencias = {
          ...this.referencias,
          [year]: fuente
        }
      })
    }
  },
  computed: {
    ...mapGetters([ 'refugiosYear', 'getFuenteRefugioCensoByYear' ])
  },
  watch: {
    refugiosYear (val) {
      this.setModelYear()
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~@/styles/variables'
.year-selector-panel
  display: flex
  align-items: center
  flex-wrap: wrap
  span
    font-size: $f16px
    .referencia
      color: $color_0
  & >>> .md-radio
    margin: $f5px $f14px $f5px 0
    .md-radio-container
      width: $f14px
      min-width: $f14px
      height: $f14px
    .md-radio-label
      padding-left: $f7px
      font-size: $f14px
  & >>> .md-radio.md-theme-default.md-checked .md-radio-container
    border-color: $color_0
    &:after
      background-color: $color_0

.md-tooltip
  z-index: 9999999
  background-color: white
  color: rgba(0, 0, 0, .87)
  font-size: $f13px
  line-height: 1.5
  height: auto
  width: $f350px
  white-space: normal
  white-space: unset
</style>
