<template lang="pug">
.StatisticAgePanel(v-if="estadisticas")
  div.chart(v-show="chartData && chartData.length")
    GChart(
      type="PieChart"
      :data="chartData"
      :options="chartOptions"
    )
  div(v-show="!chartData || !chartData.length")
    md-progress-spinner(md-mode="indeterminate")
</template>

<script>
import { GChart } from 'vue-google-charts'
import theme from '@/theme.js'
import colorPropertyMixin from '@/mixins/color-property.js'

export default {
  name: 'StatisticAgePanel',
  mixins: [colorPropertyMixin],
  components: {
    GChart
  },
  props: {
    code: {
      type: String,
      default: ''
    },
    estadisticas: Object
  },
  mounted () {
    this.updateData()
  },
  data () {
    return {
      chartData: [],
      chartOptions: {
        pieSliceText: 'none',
        legend: {
          position: 'labeled',
          textStyle: {
            fontSize: 16
          }
        },
        tooltip: {
          trigger: 'none'
        },
        colors: Object.values(theme.pie),
        chartArea: { left: '10', right: '10', top: '12', bottom: '30' }
      }
    }
  },
  methods: {
    updateData () {
      this.chartData = [
        [ '', '' ],
        [ '0 a 14 años', this.formatNumber(this.estadisticas['0-14']) ],
        [ '15 a 64 años', this.formatNumber(this.estadisticas['15-64']) ],
        [ 'Más de 65 años', this.formatNumber(this.estadisticas['65']) ]
      ]
    },
    formatNumber (value) {
      return value < 0 ? 0 : value
    }
  },
  watch: {
    estadisticas () {
      this.updateData()
    }
  }
}
</script>
