@import '~@/styles/variables'

.edit-project-page
  & >>>
    .md-content.md-tabs-content.md-theme-default #componentes
      padding-left: 2px
    .md-tab,
    .md-layout-item
      box-sizing: border-box

.md-field
  margin-bottom: $f48px
  &.md-has-textarea
    padding-top: 32px
  &.md-has-textarea:not(.md-autogrow).md-has-value .md-textarea
    padding-top: 0px

.md-checkbox.md-theme-default.md-checked >>> .md-checkbox-container
  background-color: $color_0
  border-color: $color_0

.mgtop
  margin-top: 12px

.ente-ejecutor-container
  min-height: $f225px

.color-picker-container,
.text-box-editor-container
  margin-bottom: $f24px

.costo-moneda-select
  margin-bottom: $f48px

.md-error
  color: #ff1744
  font-size: $f12px

.block.md-invalid label
  color: #ff1744

.error--text
  font-size: 12px
