@import '~@/styles/variables'

$fontSize = 50px
$top = "calc(50% - %s)" % ($fontSize / 1.35)
$left = "calc(50% - %s)" % ($fontSize / 3.25)

.asu-title
  font-size: $f18px
  font-weight: bold
  color: $color_0
  margin: $f10px 0 $f10px 0
.refugio-estadisticas
  position: relative
  .center-icon
    position: absolute
    font-size: $fontSize
    top: $top
    left: $left
    color: $color_0