<template>
  <div>
    <ButtonGroup class="control-link button is-info">
      <span class="asu-title">Solución definitiva</span>
      <router-link class="md-button" :to="{ name: 'projects' }" >Proyectos</router-link>
      <router-link class="md-button" :to="{ name: 'map' }" >Mapa</router-link>
    </ButtonGroup>

    <ButtonGroup class="control-link button is-info link-3">
      <span class="asu-title">Solución a corto plazo</span>
      <router-link class="md-button" :to="{ name: 'map', query: { ver : 'refugios' } }" >Gestión de inundación</router-link>
    </ButtonGroup>
  </div>
</template>
<script>
