@font-face {
  font-family: 'asu-participa';
  src:  url('fonts/asu-participa.eot?slyjc6');
  src:  url('fonts/asu-participa.eot?slyjc6#iefix') format('embedded-opentype'),
    url('fonts/asu-participa.ttf?slyjc6') format('truetype'),
    url('fonts/asu-participa.woff?slyjc6') format('woff'),
    url('fonts/asu-participa.svg?slyjc6#asu-participa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ap-"], [class*=" ap-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asu-participa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap-Add-ios:before {
  content: "\e977";
}
.ap-Icono-app:before {
  content: "\e978";
}
.ap-Upload-ios:before {
  content: "\e979";
}
.ap-Controles:before {
  content: "\e976";
}
.ap-scroll-down:before {
  content: "\e975";
}
.ap-Asu-costera:before {
  content: "\e918";
}
.ap-logo-banco-mundial:before {
  content: "\e919";
}
.ap-logo-gfdrr:before {
  content: "\e974";
}
.ap-Participa:before {
  content: "\e973";
}
.ap-Agrandar-imagen:before {
  content: "\e972";
}
.ap-capturar:before {
  content: "\e971";
}
.ap-Image:before {
  content: "\e970";
}
.ap-acceso-discapacitados:before {
  content: "\e969";
}
.ap-area-medica:before {
  content: "\e96a";
}
.ap-aseo-bano:before {
  content: "\e96b";
}
.ap-conexion-electrica:before {
  content: "\e96c";
}
.ap-lavanderia:before {
  content: "\e96d";
}
.ap-plan-evacuacion:before {
  content: "\e96e";
}
.ap-sistema-evacuacion:before {
  content: "\e96f";
}
.ap-college:before {
  content: "\e964";
}
.ap-Female:before {
  content: "\e965";
}
.ap-Male:before {
  content: "\e966";
}
.ap-pregnant:before {
  content: "\e967";
}
.ap-work:before {
  content: "\e968";
}
.ap-en-construccion:before {
  content: "\e963";
}
.ap-Help:before {
  content: "\e961";
}
.ap-Otro:before {
  content: "\e962";
}
.ap-acceso-agua:before {
  content: "\e95b";
}
.ap-acceso-bano:before {
  content: "\e95c";
}
.ap-acceso-ducha:before {
  content: "\e95d";
}
.ap-desecho-residuos:before {
  content: "\e95e";
}
.ap-sexados:before {
  content: "\e95f";
}
.ap-tipo-cocina:before {
  content: "\e960";
}
.ap-familias-estadisticas:before {
  content: "\e95a";
}
.ap-Pedido-documento:before {
  content: "\e94f";
}
.ap-llamada:before {
  content: "\e950";
}
.ap-reclamo:before {
  content: "\e951";
}
.ap-otro-reclamo:before {
  content: "\e952";
}
.ap-Comentario:before {
  content: "\e953";
}
.ap-compartir:before {
  content: "\e954";
}
.ap-Centro-municipal:before {
  content: "\e955";
}
.ap-Comisaria:before {
  content: "\e956";
}
.ap-Institucion-educativa:before {
  content: "\e957";
}
.ap-Institucion-religiosa:before {
  content: "\e958";
}
.ap-Institucion-salud:before {
  content: "\e959";
}
.ap-facebook:before {
  content: "\e947";
}
.ap-gestion-recursos:before {
  content: "\e948";
}
.ap-gestion-social:before {
  content: "\e949";
}
.ap-instagram:before {
  content: "\e94a";
}
.ap-mensaje:before {
  content: "\e94b";
}
.ap-resumen:before {
  content: "\e94c";
}
.ap-telefono:before {
  content: "\e94d";
}
.ap-twitter:before {
  content: "\e94e";
}
.ap-agua:before {
  content: "\e932";
}
.ap-cocina:before {
  content: "\e933";
}
.ap-comunidad-indigena:before {
  content: "\e934";
}
.ap-discapacidad:before {
  content: "\e935";
}
.ap-escuela:before {
  content: "\e936";
}
.ap-estado-refugios:before {
  content: "\e937";
}
.ap-familias-albergadas:before {
  content: "\e938";
}
.ap-institucion-afectada:before {
  content: "\e939";
}
.ap-kit-materiales:before {
  content: "\e93a";
}
.ap-luz:before {
  content: "\e93d";
}
.ap-mas:before {
  content: "\e93e";
}
.ap-pareja:before {
  content: "\e93f";
}
.ap-print:before {
  content: "\e940";
}
.ap-refugio-caracteristicas:before {
  content: "\e941";
}
.ap-refugio-descripcion:before {
  content: "\e942";
}
.ap-refugio-familias:before {
  content: "\e943";
}
.ap-refugios-activos:before {
  content: "\e944";
}
.ap-tercera-edad:before {
  content: "\e945";
}
.ap-whatsapp:before {
  content: "\e946";
}
.ap-Timeline-icon:before {
  content: "\e931";
}
.ap-Refuge:before {
  content: "\e93c";
}
.ap-Refugio:before {
  content: "\e93b";
}
.ap-age:before {
  content: "\e930";
}
.ap-computer:before {
  content: "\e922";
}
.ap-data-sheet:before {
  content: "\e923";
}
.ap-description:before {
  content: "\e924";
}
.ap-housing-condition:before {
  content: "\e925";
}
.ap-internet:before {
  content: "\e926";
}
.ap-living-place:before {
  content: "\e927";
}
.ap-men:before {
  content: "\e928";
}
.ap-occupation:before {
  content: "\e929";
}
.ap-phone:before {
  content: "\e92a";
}
.ap-population:before {
  content: "\e92b";
}
.ap-statistic:before {
  content: "\e92c";
}
.ap-subproject:before {
  content: "\e92d";
}
.ap-woman:before {
  content: "\e92e";
}
.ap-cell-phone:before {
  content: "\e92f";
}
.ap-ente-ejecutor:before {
  content: "\e921";
}
.ap-youtube-logo:before {
  content: "\e920";
}
.ap-timeline:before {
  content: "\e91f";
}
.ap-comilla1:before {
  content: "\e91c";
}
.ap-comilla2:before {
  content: "\e91d";
}
.ap-enter:before {
  content: "\e91e";
}
.ap-asu:before {
  content: "\e91a";
}
.ap-timeline-selected:before {
  content: "\e91b";
}
.ap-guide-filter:before {
  content: "\e912";
}
.ap-guide-timeline:before {
  content: "\e913";
}
.ap-guide-markers:before {
  content: "\e914";
}
.ap-bidding-phase:before {
  content: "\e915";
}
.ap-projects-list:before {
  content: "\e916";
}
.ap-programs:before {
  content: "\e917";
}
.ap-type-project-filter:before {
  content: "\e900";
}
.ap-shape:before {
  content: "\e901";
}
.ap-pin-double:before {
  content: "\e902";
}
.ap-pin:before {
  content: "\e903";
}
.ap-franja-costera-logo:before {
  content: "\e904";
}
.ap-asu-viva-logo:before {
  content: "\e905";
}
.ap-info:before {
  content: "\e906";
}
.ap-filter:before {
  content: "\e907";
}
.ap-phases:before {
  content: "\e908";
}
.ap-finished-phase:before {
  content: "\e909";
}
.ap-execution-phase:before {
  content: "\e90a";
}
.ap-planification-phase:before {
  content: "\e90b";
}
.ap-family:before {
  content: "\e90c";
}
.ap-label:before {
  content: "\e90d";
}
.ap-download:before {
  content: "\e90e";
}
.ap-circle-double-outline:before {
  content: "\e90f";
}
.ap-circle-double:before {
  content: "\e910";
}
.ap-flood-area:before {
  content: "\e911";
}
.ap-menu:before {
  content: "\e9bd";
}
.ap-cross:before {
  content: "\ea0f";
}
